<%= form_with(model: @patient, local: true, class: "ui form") do |f| %>
<h1><%= @patient.id ? ('Edit Patient') : ('Add Patient') %></h1>
  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name, required: true, placeholder: "Name" %>
  </div>
  <div class="field">
    <div class="field">
    <%= f.label :age %>
    <%= f.number_field :age, required: true, placeholder: "Age" %>
  </div>
  <div class="field">
    <div class="field">
    <%= f.label :phone_number %>
    <%= f.text_field :phone_number, required: true, placeholder: "Phone Number" %>
  </div>
  <div class="field">

<%= f.submit nil, class: "i green button inverted"%>
<% end %>