<h1> Patient: <%= @patient.name %></h1>

<h4> Age: <%=@patient.age%> </br> Phone: <%= @patient.phone_number%> </h4>

<h2> Appointments </h2>
<table class="ui celled table">
  <thead>
    <tr><th>Doctor</th>
    <th>Date</th>
    <th>Time</th>
    <th>Edit</th>
    <th>Delete</th>
  </tr></thead>
  <tbody>
    <% @appointment.each do |p| %>
      <tr>
        <td data-label="ID"><%= p.date %></td>
        <td data-label="Name"><%= p.time %></td>
        <td><%= link_to '<i class="edit outline icon"></i>'.html_safe, edit_physician_path(p.id) %></td>
        <td><%= link_to '<i class="trash alternate icon"></i>'.html_safe, physician_path(p.id), method: :delete %></td>
      </tr>
    <% end %>
  </tbody>
</table>


